* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  background-color: black;
}

.container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  display: block;

  color: darkred;
}

.input {
  font-size: 2rem;
  padding: 1.2rem 2rem;
  border-radius: 15px;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 20px;
  color: whitesmoke;
}

.button {
  font-size: 1.8rem;
  padding: 1.2rem 2rem;
  border-radius: 20px;
  border: 1px solid #e1e1e1;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  cursor: pointer;
}
span {
  font-size: 36px;
  color: darkred;
  background: none;
}
.display {
  margin-top: 30px;
  flex: flex;
}

.display h3 {
  color: darkslategray;
  margin: 30px;
  padding: 20px;
  border-radius: 40px;
  background-color: whitesmoke;
  font-size: 30px;
  margin-bottom: 1rem;
}
